@{
    ViewData["Title"] = "Home Page";
}

<section id="main" class="sec-back">
    <div class="panel blue" id="art1">

        <div class="container ">
            <div class="spacer text-center">
              
              







<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/tesouraTeste.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Recorte em Html, Jquery e CSS 
                    <!-- <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a> -->
                </p>
            </div>
        </div>
        <!-- <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                        Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div> -->
    </div>
    <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->
</div>









            </div>
        </div>
    </div>
    <div class="panel green-water" id="art2">
        <div class="container">
            <div class="spacer">
                <div class="hideme col-sm-12">
                    <h1>Sobre</h1>
                    <hr />
                </div>
                <div class="hideme col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <h2>Fernando Souza</h2>
                    <h4>Analista de Sistemas | Desenvolvedor Web | Programador .Net</h4>
                    <p>Amo trabalhar com desenvolvimento, aprender novas tecnologias e aprimorar técnicas, focado em continuar evoluindo nesta profissão na qual estou muito feliz!</p>
                    <p>
                        Há cerca de 6 anos trabalhando nesse ramo, sempre tive a chance de trazer algo no qual aprendi anteriormente e aprimorar técnicas que já conhecia.
                        Melhorar e criar desde layouts simples até sistemas robustos se tornou a minha grande paixão.
                        E com essa experiência decidi tomar novos rumos e me tornar Freelancer.
                    </p>
                    <p>
                        Sou um apaixonado pela vida e pela minha família, sem eles eu não seria nada!
                    </p>
                    <p>
                        Agradeço à Deus por tudo que tenho conseguido até aqui, e pela força que tem me dado!
                    </p>
                </div>
                <div class="hideme col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 sobre-img">
                    <img class="img-circle" src="~/Images/f1.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel red" id="art3">
        <div class="container">
            <div class="spacer">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 exp">
                    <div class="hideme">
                        <h1>Experiências</h1>
                        <h5 class="text-center">Algumas empresas que trabalhei</h5>
                        <hr />
                    </div>
                    <div class="hideme experiencias row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-md-offset-1 col-lg-offset-1">
                            <div class="ano img-circle">
                                2016
                            </div>
                        </div>
                        <div class="experiencias-descricao col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <h3>G&P Projetos e Sistemas S.A</h3>
                            <h4>Analista Desenvolvedor .Net</h4>
                            <p>HTML5, CSS 3, javascript, jQuery, JSON, Bootstrap, WebForms e ASP.net MVC, C#, Web Services, Entity Framework, SqlServer, Scrum, integrações Windows services, Web services (SOAP e REST)</p>
                        </div>
                    </div>
                    <div class="hideme experiencias row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-md-offset-1 col-lg-offset-1">
                            <div class="ano img-circle">
                                2014 / 2016
                            </div>
                        </div>
                        <div class="experiencias-descricao col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <h3>Sofhar Gestão & Tecnologia S.A</h3>
                            <h4>Analista Desenvolvedor .Net</h4>
                            <p>HTML5, CSS 3, jQuery, JSON, Bootstrap, ASP.net MVC 5, C#, Web Services, Entity Framework, SqlServer, Scrum.</p>
                        </div>
                    </div>
                    <div class="hideme experiencias row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-md-offset-1 col-lg-offset-1">
                            <div class="ano img-circle">
                                2013 / 2014
                            </div>
                        </div>
                        <div class="experiencias-descricao col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <h3>G&P Projetos e Sistemas S.A</h3>
                            <h4>Desenvolvedor .Net Júnior</h4>
                            <p>HTML5, CSS 3, jQuery, ASP.net Web Forms e MVC 4, C#, Web Services, Oracle.</p>
                        </div>
                    </div>
                    <div class="hideme experiencias row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-md-offset-1 col-lg-offset-1">
                            <div class="ano img-circle">
                                2012 / 2013
                            </div>
                        </div>
                        <div class="experiencias-descricao col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <h3>Accelera Technologies</h3>
                            <h4>Desenvolvedor .Net</h4>
                            <p>Sharepoint, C#, Sql Server, HTML, CSS, Javascript, Jquery e Photoshop.</p>
                        </div>
                    </div>
                    <div class="hideme experiencias row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-md-offset-1 col-lg-offset-1">
                            <div class="ano img-circle">
                                2011 / 2012
                            </div>
                        </div>
                        <div class="experiencias-descricao col-xs-12 col-sm-12 col-md-7 col-lg-8">
                            <h3>Intermídia Planejamento de Mídia</h3>
                            <h4>Desenvolvedor Front End</h4>
                            <p>HTML, CSS, Javascript, Jquery e Photoshop.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel yellow" id="art4">
        <div class="container">
            <div class="spacer">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 exp">
                    <div class="hideme">
                        <h1>Portfólio</h1>
                        <h5 class="text-center">Alguns trabalhos realizados</h5>
                        <hr />
                    </div>
                    <div class="portfolio row">
                        <div class="hideme col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center">
                            <h4>Plantas Gabi</h4>
                            <a href="http://www.plantasgabi.com.br/" target="_blank"><img class="portfolio-image hideme" src="~/images/plantasGabi.png" /></a>
                        </div>
                        <div class="hideme col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center">
                            <h4>Power Services</h4>
                            <a href="http://www.powerservices.com.br/" target="_blank"><img class="portfolio-image hideme" src="~/images/powerServices.png" /></a>
                        </div>
                        <div class="hideme col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center">
                            <h4>Adega D'itália</h4>
                            <a href="http://www.vinhosadegaditalia.com.br/" target="_blank"><img class="portfolio-image hideme" src="~/images/adegaDitalia.png" /></a>
                        </div>
                    </div>
                    <div class="hideme col-xs-12 col-sm-12 col-md-12 col-lg-12 novas-atualizacoes">
                        <h3>Projetos internos em alguns ógãos públicos em que participei:</h3>
                        <p>- Secretaria da Fazenda</p>
                        <p>- Secretaria da Educação</p>
                        <p>- Secretaria do Desenvolvimento Social</p>
                        <p>- Companhia de Processamento de Dados do Estado de São Paulo - Prodesp</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel green" id="art5">
        <div class="container">
            <div class="spacer">
                <div class="hideme col-sm-12">
                    <h1>Contato</h1>
                    <hr />
                </div>
                <div class=" contato col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="form-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="hideme form-group col-md-12">
                            <p>
                                Deixe seu recado preenchendo os campos abaixo, ou mande um email explicando o seu projeto com detalhes
                                para <strong>fernandodeveloper@hotmail.com</strong>, que entro em contato com você!
                            </p>
                        </div>
                        <div class="hideme form-group col-md-12">
                            <label>Nome</label>
                            <input type="text" class="form-control" id="inputName">
                        </div>
                        <div class="hideme form-group col-md-12">
                            <label>Email</label>
                            <input type="email" class="form-control" id="inputEmail">
                        </div>
                        <div class="hideme form-group col-md-12">
                            <label>Assunto</label>
                            <input type="text" class="form-control" id="inputSubject">
                        </div>
                        <div class="hideme form-group col-md-12">
                            <label>Mensagem</label>
                            <textarea class="form-control noresize" id="inputMessage" rows="5"></textarea>
                        </div>
                        <div class="hideme form-group col-md-12">
                            <button type="submit" id="btnEnviar" class="btn btn-primary ">Enviar</button>
                        </div>
                    </div>
                </div>
                <div class="hideme col-xs-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <div class="hideme  redes-sociais">
                        <h2>Redes Sociais</h2>
                        <h4>Onde você pode me encontrar =D</h4>
                        <ul>
                            <li class="col-sm-3 col-md-3 col-xs-6"><a href="https://www.facebook.com/IblinGProjetosSistemas/" target="_blank"><img src="~/Images/icones/facebook.png" /></a></li>
                            <li class="col-sm-3 col-md-3 col-xs-6"><a href=""><img src="~/Images/icones/twitter.png" /></a></li>
                            <li class="col-sm-3 col-md-3 col-xs-6"><a href=""><img src="~/Images/icones/skype.png" /></a></li>
                            <li class="col-sm-3 col-md-3 col-xs-6"><a href="https://www.linkedin.com/in/fernando-souza-560b8468/" target="_blank"><img src="~/Images/icones/linkedin.png" /></a></li>
                        </ul>
                    </div>
                    <hr />
                    <div class="hideme text-center facebook-field">
                        <p>
                            Fique ligado na minha página do Facebook!
                        </p>
                        <div class="fb-page" data-href="https://www.facebook.com/IblinGProjetosSistemas/" data-tabs="false" data-small-header="false" data-width="330" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/IblinGProjetosSistemas/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/IblinGProjetosSistemas/">Iblin-G</a></blockquote></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>